<div class="d-flex justify-content-between mb-4 align-items-center">
  <h4 class="fw-bold m-0">My Purchases</h4>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Sort By
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li>
        <a class="dropdown-item" (click)="navigateToWithComponentValues('date')">
          Purchase Date
          <fa-icon class="p-1" [icon]="getSortIcon('date')"></fa-icon>
        </a>
      </li>
      <li>
        <a class="dropdown-item" (click)="navigateToWithComponentValues('totalCost')">
          Total Cost
          <fa-icon class="p-1" [icon]="getSortIcon('totalCost')"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div *ngIf="purchases.length !== 0; else noPurchasesMessage">
      <ul *ngFor="let purchase of purchases; let i = index" class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <fa-icon icon="shopping-cart" class="me-1"></fa-icon>
            <strong class="fw-bold"> {{ purchase.products.length }} product(s) </strong>
            <fa-icon [icon]="isProductsVisible[i] ? 'chevron-up' : 'chevron-down'" class="ms-2" (click)="toggleProducts(i)"> </fa-icon>
            <br />
            <small class="text-muted">{{ purchase.date | formatMediumDate }}</small>
          </div>
          <span class="badge bg-secondary rounded-pill">{{ purchase.totalCost }} DT</span>
        </li>
        <div *ngIf="isProductsVisible[i]" class="list-group-flush ps-4">
          <ul>
            <li
              *ngFor="let product of purchase.products"
              class="list-group-item d-flex justify-content-between align-items-center"
              style="border: 0; border-bottom: 1px solid #dee2e6"
            >
              <div>
                <strong>{{ product.name }}:</strong> <span class="fw-bold">{{ product.quantity }}</span>
              </div>
              <span class="badge bg-secondary rounded-pill">{{ product.unitPrice * product.quantity }} DT</span>
            </li>
          </ul>
        </div>
      </ul>
    </div>
    <ng-template #noPurchasesMessage>
      <p class="text-muted text-center">
        You don’t have purchases. Let’s go shopping! <fa-icon icon="shopping-cart" size="lg" class="m-1"></fa-icon>
      </p>
    </ng-template>
  </div>
</div>

<div class="mt-2" *ngIf="purchases && purchases.length > 0">
  <div class="d-flex justify-content-center">
    <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
  </div>

  <div class="d-flex justify-content-center">
    <ngb-pagination
      [collectionSize]="totalItems"
      [page]="page"
      [pageSize]="itemsPerPage"
      [maxSize]="5"
      [rotate]="true"
      (pageChange)="navigateToPage($event)"
    ></ngb-pagination>
  </div>
</div>
