<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-reward-config-heading" data-cy="RewardConfigCreateUpdateHeading">Create or edit a Reward Config</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_title">Title</label>
          <select class="form-control" name="title" formControlName="title" id="field_title" data-cy="title">
            <option [ngValue]="null"></option>
            @for (rewardType of rewardTypeValues; track $index) {
              <option [value]="rewardType">
                {{ { null: '', DISCOUNT: 'DISCOUNT', DONATION: 'DONATION', PHONETOPUP: 'PHONETOPUP' }[rewardType] }}
              </option>
            }
          </select>
          @if (editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)) {
            <div>
              @if (editForm.get('title')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="d-flex justify-content-between">
          <div class="mb-3 me-3 w-50">
            <label class="form-label" for="field_balanceValue">Balance Value</label>
            <input
              type="number"
              class="form-control"
              name="balanceValue"
              id="field_balanceValue"
              data-cy="balanceValue"
              formControlName="balanceValue"
            />
            @if (editForm.get('balanceValue')!.invalid && (editForm.get('balanceValue')!.dirty || editForm.get('balanceValue')!.touched)) {
              <div>
                @if (editForm.get('balanceValue')?.errors?.required) {
                  <small class="form-text text-danger">This field is required.</small>
                }
              </div>
            }
          </div>

          <div class="mb-3 w-50">
            <label class="form-label" for="field_convertedValue">Converted Value</label>
            <input
              type="number"
              class="form-control"
              name="convertedValue"
              id="field_convertedValue"
              data-cy="convertedValue"
              formControlName="convertedValue"
            />
            @if (
              editForm.get('convertedValue')!.invalid && (editForm.get('convertedValue')!.dirty || editForm.get('convertedValue')!.touched)
            ) {
              <div>
                @if (editForm.get('convertedValue')?.errors?.required) {
                  <small class="form-text text-danger">This field is required.</small>
                }
              </div>
            }
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_daysToExpire">Days To Expire</label>
          <input
            type="number"
            class="form-control"
            name="daysToExpire"
            id="field_daysToExpire"
            data-cy="daysToExpire"
            formControlName="daysToExpire"
          />
        </div>

        <div class="mb-3">
          <label class="mb-1" for="field_loyaltyLevels">Loyalty Levels</label>
          <select
            class="form-control"
            id="field_loyaltyLevels"
            data-cy="loyaltyLevels"
            multiple
            name="loyaltyLevels"
            formControlName="loyaltyLevels"
            [compareWith]="compareLoyaltyLevel"
          >
            @for (loyaltyLevelOption of loyaltyLevelsSharedCollection; track $index) {
              <option [ngValue]="loyaltyLevelOption">{{ loyaltyLevelOption.title }}</option>
            }
          </select>
          @if (editForm.get('loyaltyLevels')!.invalid && (editForm.get('loyaltyLevels')!.dirty || editForm.get('loyaltyLevels')!.touched)) {
            <div>
              @if (editForm.get('loyaltyLevels')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
