@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

body {
  font-family: 'Droid Arabic Kufi', 'Roboto Light', serif !important;
}

#kc-header {
  margin-bottom: 20px;
}

#kc-header-wrapper {
  padding-top: 5%;
}

.pf-c-form__label-text {
  margin-bottom: 3px;
}

.pf-c-form__helper-text {
  margin-top: 3px;
}

.login-pf-page {
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  #kc-header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
  }
}
