@import 'content/scss/paper-dashboard.scss';
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

p {
  font-family: 'Cairo', Helvetica, Arial, sans-serif !important;
}

.nav li .ng-fa-icon {
  width: 24px; /* Set the width as needed */
  text-align: center; /* Center the icon horizontally */
  display: inline-block; /* Ensure the width is respected */
}

.user-stats {
  .stats {
    min-width: 25rem;
  }

  .dropdown-toggle::after {
    display: none;
  }
}
