<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (offer()) {
      <div>
        <h2 data-cy="offerDetailsHeading"><span>Offer</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ offer()!.id }}</span>
          </dd>

          <dt><span>From Date</span></dt>
          <dd>
            <span>{{ offer()!.fromDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>To Date</span></dt>
          <dd>
            <span>{{ offer()!.toDate | formatMediumDatetime }}</span>
          </dd>

          <dt><span>Title</span></dt>
          <dd>
            <span>{{ offer()!.title }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ offer()!.description }}</span>
          </dd>
          <dt><span>Reward Points</span></dt>
          <dd>
            <span>{{ offer()!.rewardPoints }}</span>
          </dd>
          <dt><span>Item Qty</span></dt>
          <dd>
            <span>{{ offer()!.itemQty }}</span>
          </dd>
          <dt><span>Item Sku</span></dt>
          <dd>
            <span>{{ offer()!.itemSku }}</span>
          </dd>
          <dt><span>Grand Total</span></dt>
          <dd>
            <span>{{ offer()!.grandTotal }}</span>
          </dd>
          <dt><span>Loyalty Levels</span></dt>
          <dd>
            @for (loyaltyLevel of offer()!.loyaltyLevels; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/loyalty-level', loyaltyLevel.id, 'view']">{{ loyaltyLevel.title }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/offer', offer()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
