<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-reward-heading" data-cy="RewardCreateUpdateHeading">Create or edit a Reward</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('createdAt')!.invalid && (editForm.get('createdAt')!.dirty || editForm.get('createdAt')!.touched)) {
            <div>
              @if (editForm.get('createdAt')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="d-flex justify-content-between">
          <div class="mb-3 me-3 w-50">
            <label class="form-label" for="field_fromDate">From Date</label>
            <div class="d-flex">
              <input
                id="field_fromDate"
                data-cy="fromDate"
                type="datetime-local"
                class="form-control"
                name="fromDate"
                formControlName="fromDate"
                placeholder="YYYY-MM-DD HH:mm"
              />
            </div>
            @if (editForm.get('fromDate')!.invalid && (editForm.get('fromDate')!.dirty || editForm.get('fromDate')!.touched)) {
              <div>
                @if (editForm.get('fromDate')?.errors?.required) {
                  <small class="form-text text-danger">This field is required.</small>
                }
                <small class="form-text text-danger" [hidden]="!editForm.get('fromDate')?.errors?.datetimelocal"
                  >This field should be a date and time.</small
                >
              </div>
            }
          </div>

          <div class="mb-3 w-50">
            <label class="form-label" for="field_toDate">To Date</label>
            <div class="d-flex">
              <input
                id="field_toDate"
                data-cy="toDate"
                type="datetime-local"
                class="form-control"
                name="toDate"
                formControlName="toDate"
                placeholder="YYYY-MM-DD HH:mm"
              />
            </div>
            @if (editForm.get('toDate')!.invalid && (editForm.get('toDate')!.dirty || editForm.get('toDate')!.touched)) {
              <div>
                @if (editForm.get('toDate')?.errors?.required) {
                  <small class="form-text text-danger">This field is required.</small>
                }
                <small class="form-text text-danger" [hidden]="!editForm.get('toDate')?.errors?.datetimelocal"
                  >This field should be a date and time.</small
                >
              </div>
            }
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          @if (editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)) {
            <div>
              @if (editForm.get('code')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_rewardConfig">Reward Config</label>
          <select
            class="form-control"
            id="field_rewardConfig"
            data-cy="rewardConfig"
            name="rewardConfig"
            formControlName="rewardConfig"
            [compareWith]="compareRewardConfig"
          >
            <option [ngValue]="null"></option>
            @for (rewardConfigOption of rewardConfigsSharedCollection; track $index) {
              <option [ngValue]="rewardConfigOption">
                {{ rewardConfigOption.title }} (Balance: {{ rewardConfigOption.balanceValue }} -> Converted:
                {{ rewardConfigOption.convertedValue }} )
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            @if (!editForm.get('user')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.firstName }} {{ userOption.lastName }}</option>
            }
          </select>
          @if (editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)) {
            <div>
              @if (editForm.get(['user'])?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
