<div>
  <h2 id="page-heading" data-cy="UserExtraHeading">
    <span>User Points</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (userExtras?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Users found</span>
    </div>
  }

  @if (userExtras && userExtras.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="user.id">
              <div class="d-flex">
                <span>User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalBalance">
              <div class="d-flex">
                <span>Total Balance</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="actualBalance">
              <div class="d-flex">
                <span>Actual Balance</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (userExtra of userExtras; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a (click)="getUserInfos(userExtra.id)">{{ userExtra.user?.firstName }} {{ userExtra.user?.lastName }}</a>
              </td>
              <td>{{ userExtra.totalBalance }}</td>
              <td>{{ userExtra.actualBalance }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/user-extra', userExtra.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/user-extra', userExtra.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <jhi-item-count [params]="{ page: currentPage, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
  }
</div>
