<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span>Welcome!</span></h1>

    <p class="lead" *ngIf="account()">This is your homepage</p>

    <div *ngIf="account() !== null">
      <div *ngIf="accountService.hasAnyAuthority(['ROLE_ADMIN']); else userContent">
        <div class="alert alert-success">
          <span>You are logged in as Admin &quot;{{ account()!.login }}&quot; and {{ account()!.firstName }}</span>
        </div>
        <!-- Admin-specific content goes here -->
      </div>

      <ng-template #userContent>
        <div *ngIf="accountService.hasAnyAuthority(['ROLE_USER'])">
          <div class="alert alert-success">
            <span>You are logged in as User &quot;{{ account()!.login }}&quot; and {{ account()!.firstName }}</span>
          </div>
          <!-- User-specific content goes here -->
        </div>
      </ng-template>
    </div>
  </div>
</div>
