<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div [routerLink]="['user-extra']" class="card card-stats" style="cursor: pointer">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <fa-icon icon="users"></fa-icon>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Users</p>
              <p class="card-title">{{ userCount }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats"><i class="fa fa-refresh"></i>{{ lastUserCountUpdated }}</div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div [routerLink]="['offer']" class="card card-stats" style="cursor: pointer">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <fa-icon icon="hand-holding-dollar"></fa-icon>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Offers</p>
              <p class="card-title">{{ offerCount }}</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats"><i class="fa fa-calendar-o"></i>{{ lastOfferCountUpdated }}</div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div [routerLink]="['reward']" class="card card-stats" style="cursor: pointer">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <fa-icon icon="gifts"></fa-icon>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Claimed Rewards</p>
              <p class="card-title">{{ rewardCount }}</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats"><i class="fa fa-clock-o"></i>{{ lastRewardCountUpdated }}</div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div [routerLink]="['loyalty-level']" class="card card-stats" style="cursor: pointer">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <fa-icon icon="star"></fa-icon>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Loyalty Levels</p>
              <p class="card-title">{{ loyaltyLevelCount }}</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats"><i class="fa fa-refresh"></i>{{ lastLoyaltyLevelCountUpdated }}</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Monthly User Registration</h5>
        <!-- Updated title -->
        <p class="card-category">User registrations for the current year {{ dayjs().year() }}</p>
        <!-- Updated description -->
      </div>
      <div class="card-body">
        <canvas id="chartUsers" width="400" height="200"></canvas>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats"><i class="fa fa-history"></i>{{ lastUserCountUpdated }}</div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Monthly Reward Claims</h5>
        <p class="card-category">Rewards claims for the current year {{ dayjs().year() }}</p>
      </div>
      <div class="card-body">
        <canvas id="chartRewards" width="400" height="200"></canvas>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats"><i class="fa fa-history"></i>{{ lastRewardCountUpdated }}</div>
      </div>
    </div>
  </div>
</div>
