<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (reward()) {
      <div>
        <h2 data-cy="rewardDetailsHeading"><span>Reward</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ reward()!.id }}</span>
          </dd>
          <dt><span>Created At</span></dt>
          <dd>
            <span>{{ reward()!.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>From Date</span></dt>
          <dd>
            <span>{{ reward()!.fromDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>To Date</span></dt>
          <dd>
            <span>{{ reward()!.toDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Code</span></dt>
          <dd>
            <span>{{ reward()!.code }}</span>
          </dd>
          <dt><span>Reward Config</span></dt>
          <dd>
            @if (reward()!.rewardConfig) {
              <div>
                <a [routerLink]="['/reward-config', reward()!.rewardConfig?.id, 'view']">{{ reward()!.rewardConfig?.id }}</a>
              </div>
            }
          </dd>
          <dt><span>User</span></dt>
          <dd>
            <span>{{ reward()!.user?.id }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/reward', reward()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
