<div class="d-flex justify-content-between mb-4 align-items-center flex-column flex-md-row">
  <h4 class="fw-bold mb-4 mb-md-0">Available rewards</h4>

  <div class="d-flex flex-column flex-sm-row">
    <div class="dropdown mb-2 me-sm-4">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Filter By Reward Type
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <a class="dropdown-item" (click)="filterRewards(null)">
            <fa-icon icon="list" class="me-2"></fa-icon>
            All
          </a>
        </li>
        <li>
          <a class="dropdown-item" (click)="filterRewards('CASHBACK')">
            <fa-icon [icon]="getRewardIcon('CASHBACK')" class="me-2"></fa-icon>
            Cashback
          </a>
        </li>
        <li>
          <a class="dropdown-item" (click)="filterRewards('DISCOUNT')">
            <fa-icon [icon]="getRewardIcon('DISCOUNT')" class="me-2"></fa-icon>
            Discount
          </a>
        </li>
        <li>
          <a class="dropdown-item" (click)="filterRewards('DONATION')">
            <fa-icon [icon]="getRewardIcon('DONATION')" class="me-2"></fa-icon>
            Donation
          </a>
        </li>
        <li>
          <a class="dropdown-item" (click)="filterRewards('PHONETOPUP')">
            <fa-icon [icon]="getRewardIcon('PHONETOPUP')" class="me-2"></fa-icon>
            Phone Top Up
          </a>
        </li>
      </ul>
    </div>

    <div class="dropdown mb-2 me-sm-4">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownSortButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Sort By
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownSortButton">
        <li>
          <a class="dropdown-item" (click)="navigateToWithComponentValues('balanceValue')">
            Required points
            <fa-icon class="p-1" [icon]="getSortIcon('balanceValue')"></fa-icon>
          </a>
        </li>
        <li>
          <a class="dropdown-item" (click)="navigateToWithComponentValues('convertedValue')">
            Reward Value
            <fa-icon class="p-1" [icon]="getSortIcon('convertedValue')"></fa-icon>
          </a>
        </li>
        <li>
          <a class="dropdown-item" (click)="navigateToWithComponentValues('daysToExpire')">
            Days To Expire
            <fa-icon class="p-1" [icon]="getSortIcon('daysToExpire')"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row rewards-container" *ngIf="rewards.length !== 0; else noRewardsMessage">
  <div class="col-md-4 col-lg-4 mb-4 d-flex justify-content-center" *ngFor="let reward of rewards">
    <div class="reward-card card shadow-sm">
      <div class="image-container position-relative">
        <img [src]="'content/images/' + reward.title + '.png'" alt="" class="card-img-top" />
        <div class="overlay">
          <div class="overlay-content">
            <h5 class="reward-title">
              <!-- Display an icon based on the reward type -->
              <fa-icon [icon]="getRewardIcon(reward.title)" class="me-2"></fa-icon>
              {{ reward.title }}
            </h5>
            <span class="daystoExpire">Expires in {{ reward.daysToExpire }} days</span>
          </div>
        </div>
      </div>
      <div class="card-body text-center">
        <p class="card-text">{{ reward.description }}</p>
        <p>
          <strong>{{ currentUserStats?.actualBalance }} points</strong> out of <strong>{{ reward.balanceValue }} points</strong>
        </p>

        <!-- Progress Bar -->
        <ngb-progressbar class="mb-3 w-100" type="success" [max]="reward?.balanceValue ?? 1" [value]="currentUserStats?.actualBalance ?? 0">
        </ngb-progressbar>

        <!-- Converted Value Display -->
        <p class="converted-value">
          TO GET:
          <!-- Conditionally display the converted value based on reward type -->
          <ng-container [ngSwitch]="reward.title">
            <span class="fw-bold" *ngSwitchCase="'DISCOUNT'">{{ reward.convertedValue }} %</span>
            <span class="fw-bold" *ngSwitchCase="'CASHBACK'">{{ reward.convertedValue }} TND</span>
            <span class="fw-bold" *ngSwitchCase="'DONATION'">{{ reward.convertedValue }} TND donated</span>
            <span class="fw-bold" *ngSwitchCase="'PHONETOPUP'">{{ reward.convertedValue }} TND phone</span>
            <span class="fw-bold" *ngSwitchDefault>{{ reward.convertedValue }}</span>
          </ng-container>
        </p>

        <!-- Redeem Button -->
        <button
          class="btn redeem-button"
          [ngClass]="{
            'btn-success': (currentUserStats?.actualBalance ?? 0) >= (reward?.balanceValue ?? 0),
            'btn-secondary': (currentUserStats?.actualBalance ?? 0) < (reward?.balanceValue ?? 0),
          }"
          [disabled]="(currentUserStats?.actualBalance ?? 0) < (reward?.balanceValue ?? 0)"
          (click)="openRedeemModal(confirmRedeemModal, reward)"
        >
          <span> Redeem Reward </span>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #noRewardsMessage>
  <p class="text-muted text-center">No rewards available at the moment. Please check back later.</p>
</ng-template>

<div *ngIf="rewards && rewards.length > 0">
  <div class="d-flex justify-content-center">
    <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
  </div>

  <div class="d-flex justify-content-center">
    <ngb-pagination
      [collectionSize]="totalItems"
      [page]="page"
      [pageSize]="itemsPerPage"
      [maxSize]="5"
      [rotate]="true"
      (pageChange)="navigateToPage($event)"
    ></ngb-pagination>
  </div>
</div>

<ng-template #confirmRedeemModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm Redemption</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body d-flex flex-column align-items-center justify-content-center">
    <p class="m-0">Are you sure you want to redeem the reward</p>
    <p class="m-0">
      {{ selectedReward?.title }}
      ( {{ selectedReward?.balanceValue }} Pts <fa-icon icon="arrow-right" class="mx-2"></fa-icon> {{ selectedReward?.convertedValue }} TND
      ) ?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-success" (click)="confirmRedeem()">Confirm</button>
  </div>
</ng-template>
