<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-user-extra-heading" data-cy="UserExtraCreateUpdateHeading">Edit this User's points:</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3">
          <label class="form-label">User</label>
          <input type="text" class="form-control" [value]="getUserFullName()" readonly />
        </div>
        @if (editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)) {
          <div>
            @if (editForm.get(['user'])?.errors?.required) {
              <small class="form-text text-danger">This field is required.</small>
            }
          </div>
        }
      </div>

      <div class="form-group d-flex" style="justify-content: space-between">
        <div class="mb-3 w-50">
          <label class="form-label" for="field_totalBalance">Total Balance</label>
          <input
            type="number"
            class="form-control"
            name="totalBalance"
            id="field_totalBalance"
            data-cy="totalBalance"
            formControlName="totalBalance"
          />
          @if (editForm.get('totalBalance')!.invalid && (editForm.get('totalBalance')!.dirty || editForm.get('totalBalance')!.touched)) {
            <div>
              @if (editForm.get('totalBalance')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('totalBalance')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3 w-50">
          <label class="form-label" for="field_actualBalance">Actual Balance</label>
          <input
            type="number"
            class="form-control"
            name="actualBalance"
            id="field_actualBalance"
            data-cy="actualBalance"
            formControlName="actualBalance"
          />
          @if (editForm.get('actualBalance')!.invalid && (editForm.get('actualBalance')!.dirty || editForm.get('actualBalance')!.touched)) {
            <div>
              @if (editForm.get('actualBalance')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('actualBalance')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
